.navbar{
  background-color: #222;
  color: rgba(rgb(75, 201, 240), 0.87);

  display: flex;
  padding-left:30px;
  align-items: center;
  font-size: 20px;
  height: 64px;

  .menu{
    display: flex;
    font-size: 16px;
    margin-left: 48px;

    a{
      margin-left: 16px;
      text-decoration: none;
      color: rgb(0, 255, 242);
    }
  }
}
